@media (max-width: 1366px) {
  header .container .header-content .header-linked .cart strong {
    display: none; }

  footer .footerfb {
    width: auto; } }
@media (max-width: 991px) {
  .banner {
    margin-left: 0;
    border-right: 5px solid #fff; }

  .header-menu-banner .menu-category .menu-category-parent,
  .header-menu-banner .category-contact,
  .header-menu-banner .menu-category {
    display: none; }

  .partner .partner-slider .btn-partner.partner-next {
    right: 0; }

  .partner .partner-slider .btn-partner.partner-prev {
    left: 0; } }
@media (max-width: 768px) {
  header .container .header-content .header-linked {
    position: fixed;
    display: block;
    bottom: 70px;
    left: 2%;
    z-index: 2; }

  header .container .header-content .header-linked a {
    display: block;
    margin: 5px 0; }

  .menu-start .container .menu-list .menu-parent {
    padding: 10px 15px;
    display: block;
    width: 250px;
    position: absolute;
    top: 0;
    z-index: 12221121212;
    background: #006f30;
    left: -250px;
    opacity: 0;
    cursor: none;
    pointer-events: none; }
    .menu-start .container .menu-list .menu-parent.active {
      left: -250px;
      opacity: 1;
      cursor: pointer;
      pointer-events: all;
      left: 0;
      transition: 0.5s; }

  .menu-start .container .menu-list .menu-parent .parent-item {
    border-bottom: 1px dashed #00843e; }

  .main-closes {
    display: block;
    position: absolute !important;
    top: 0;
    left: 100%;
    z-index: 9; }

  .main-closes span {
    display: block;
    font-size: 36px;
    line-height: 36px;
    color: #fff;
    background: #00843e;
    padding: 0 10px;
    cursor: pointer; }

  .menu-start .container .menu-list .menu-parent .parent-item .menu-link::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    position: absolute;
    left: 0;
    top: 16px;
    background: #fff; }

  header .container .header-content .header-search .btn-menu {
    display: block;
    cursor: pointer;
    left: 30px; }

  header .container .header-content .header-search {
    padding: 10px 0; }

  .header-menu-banner .list-policy .menu-policy .policy-item {
    display: inline-block;
    padding: 5px; }

  .header-menu-banner .list-policy .menu-policy .policy-item span {
    margin: 0 auto; }

  .header-menu-banner .list-policy .menu-policy {
    font-size: 10px;
    line-height: 1.5;
    display: inline-block;
    float: none; }

  .header-menu-banner .list-policy {
    height: 50px;
    overflow: hidden;
    text-align: center; }

  footer .container .footer-content .footer-category,
  footer .container .footer-content .footer-logo {
    width: 100%; }

  footer .container .footer-content .footer-logo a img {
    object-fit: contain; }

  .footer .container .footer-content .footer-category .store-list,
  footer .container .footer-content .footer-category .footer-chungnhan {
    margin-top: 20px; }

  footer .container .footer-content .footer-category .footer-chungnhan {
    text-align: center; }

  .alo-phone {
    bottom: 10px; }

  .product-top .container .product-top-content .top-tab .top-tap-list {
    font-size: 18px; }

  .category-object .container .category-bar .category-title {
    display: inline-block;
    width: 100%; }

  .category-object .container .category-bar .category-title:after {
    left: calc(100% - 130vw); }

  .btn-category {
    top: -5px; }

  .container {
    padding-left: 15px;
    padding-right: 15px; }

  .product-promotion .container .promotion-content .promotion-title {
    line-height: 1.7;
    font-size: 25px; } }
@media (max-width: 480px) {
  header .container .header-content .header-search {
    padding: 10px 0 10px 45px; }

  .category-object .container .category-bar .category-tab .category-item {
    font-size: 16px; }

  .product-top .top-product .top-product-list {
    padding-right: 0; } }

/*# sourceMappingURL=media.css.map */
