@font-face {
    font-family: "Roboto-Bold";
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto-Medium";
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Italic";
    src: url(../fonts/Roboto-Italic.ttf);
}

@font-face {
    font-family: "fontawesome";
    src: url(../fonts/FontAwesome.otf);
}

body {
    font-family: "Roboto-Regular";
}

ul,
li,
a,
p {
    list-style: none;
    text-decoration: none;
    color: #000;
    font-family: "Roboto-Regular";
    margin: 0;
    padding: 0;
    &:hover {
        text-decoration: none;
    }
    &:focus {
        outline: none;
    }
}

img,
button,
div {
    &:focus {
        outline: none;
    }
}

.menu-start {
    background-color: #006f30;
    .container {
        .menu-list {
            .menu-parent {
                display: flex;
                padding: 0;
                .parent-item {
                    position: relative;
                    .menu-link {
                        display: inline-block;
                        padding: 8px 15px;
                        white-space: nowrap;
                        color: #fff;
                        font-size: 13px;
                    }
                    .menu-child {
                        width: 220px;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        z-index: 1;
                        background: #006f30;
                        padding: 0;
                        display: none;
                        .child-item {
                            border-bottom: 1px solid #008d3d;
                            width: 100%;
                            .menu-link {
                                padding: 5px 15px;
                            }
                        }
                    }
                    &:hover .menu-child {
                        display: block;
                    }
                }
            }
        }
    }
}

.main-closes {
    display: none;
}

header {
    .container {
        .header-content {
            padding: 25px 0;
            .header-logo {
                .logo-link {
                    display: inline-block;
                    width: 100%;
                    img {
                        width: 100%;
                        height: 100px;
                        object-fit: contain;
                    }
                }
            }
            .header-search {
                display: inline-block;
                width: 100%;
                padding: 30px 0;
                .btn-menu {
                    display: none;
                    position: absolute;
                    left: 0;
                    top: 10px;
                    border-radius: 4px;
                    overflow: hidden;
                    background: #d9eac0;
                    color: #006f30;
                    line-height: 40px;
                    width: 40px;
                    text-align: center;
                    i {
                        font-style: normal;
                        font-size: 26px;
                        display: block;
                    }
                }
                form {
                    float: right;
                    height: 44px;
                    width: 100%;
                    max-width: 400px;
                    padding-right: 60px;
                    position: relative;
                    overflow: hidden;
                    border: 1px solid #ddd;
                    border-radius: 5px;
                }
                .header-input {
                    border: none;
                    outline: none;
                    padding: 0 15px;
                    height: 100%;
                    width: 100%;
                    font-size: 14px;
                    font-family: inherit;
                }
                .header-btn-search {
                    top: 0;
                    right: 0;
                    border: none;
                    outline: none;
                    padding: 0 15px;
                    height: 42px;
                    font-size: 14px;
                    font-family: inherit;
                    width: 60px;
                    position: absolute;
                    cursor: pointer;
                    background: url(../img/search.png) no-repeat center, #006e30;
                    &:hover {
                        background-color: #003e1b;
                        transition: 0.5s;
                    }
                }
            }
            .header-linked {
                display: flex;
                padding: 30px 0;
                justify-content: flex-end;
                a {
                    padding: 0 5px;
                    display: inline-block;
                    &.link-shop {
                        width: 54px;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                .cart {
                    float: right;
                    position: relative;
                    padding-left: 50px;
                    margin: 0 0 0 5px;
                    height: 44px;
                    line-height: 44px;
                    &::before {
                        content: "";
                        display: block;
                        height: 44px;
                        width: 44px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        background: url(../img/cart.png) no-repeat center #d9eac0;
                        border-radius: 50%;
                        overflow: hidden;
                    }
                    color: #006f30;
                    font-weight: bold;
                    .total {
                        color: #f00;
                        position: absolute;
                        left: 17px;
                        top: 16px;
                        z-index: 1;
                        line-height: 20px;
                        font-size: 16px;
                        font-weight: normal;
                    }
                    strong {
                        font-family: "Roboto-Regular";
                        text-transform: uppercase;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.header-menu-banner {
    background: #006f30;
    color: #fff;
    position: relative;
    display: inline-block;
    width: 100%;
    .menu-category {
        width: 260px;
        float: left;
        position: relative;
        .btn-open-category {
            padding: 10px 10px 10px 20px;
            display: block;
            margin-bottom: 0;
            width: 100%;
            font-size: 14px;
            color: #fff;
            line-height: 26px;
            position: relative;
            cursor: pointer;
            i {
                font-style: normal;
                font-size: 22px;
                display: block;
                float: left;
                margin-right: 10px;
            }
            span {
                display: block;
                white-space: nowrap;
                float: left;
            }
        }
        .menu-category-parent {
            display: block;
            width: 100%;
            padding: 15px 0;
            z-index: 999;
            position: absolute;
            top: 100%;
            left: 0;
            .category-parent-item {
                padding: 9px 15px;
                .category-link {
                    display: inline-block;
                    position: relative;
                    padding-left: 40px;
                    padding-right: 20px;
                    width: 100%;
                    line-height: 24px;
                    text-transform: uppercase;
                    color: #fff;
                    background: url(../img/bg-sub3.png) no-repeat right center;
                    .category-img {
                        display: block;
                        float: left;
                        position: relative;
                        width: 32px;
                        height: 24px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        img {
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            margin: auto;
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                    .category-name {
                        font-family: 'Roboto-Regular';
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .list-policy {
        .menu-policy {
            float: left;
            line-height: 26px;
            color: #ecf14c;
            font-size: 14px;
            .policy-item {
                color: #ecf14c;
                float: left;
                padding: 10px;
                display: block;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: -moz-box;
                -js-display: flex;
                display: flex;
                -webkit-flex-flow: row wrap;
                -ms-flex-flow: row wrap;
                flex-flow: row wrap;
                -ms-flex-align: center;
                align-items: center;
                span {
                    display: block;
                    width: 24px;
                    height: 26px;
                    position: relative;
                    margin-right: 10px;
                    .policy-img {
                        display: block;
                        max-width: 100%;
                        max-height: 100%;
                        width: auto;
                        object-fit: contain;
                        height: 100%;
                    }
                }
                strong {
                    font-weight: normal;
                }
            }
        }
    }
    .category-contact {
        .menu-contact {
            line-height: 18px;
            float: right;
            background: #d9eac0;
            color: #006f30;
            padding: 5px 15px;
            border-left: 5px solid #fff;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 1;
            font-size: 14px;
            .contact-item {
                margin-right: 20px;
                padding-left: 30px;
                float: left;
                padding-left: 50px;
                position: relative;
                display: block;
                &::before {
                    content: "";
                    display: block;
                    height: 34px;
                    width: 43px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    background: url(../img/bghd.png) no-repeat right center;
                }
                span {
                    display: block;
                }
                a {
                    color: #006f30;
                    font-weight: bold;
                }
            }
        }
    }
}

.banner {
    position: relative;
    margin-left: 260px;
    border-left: 5px solid #fff;
    max-height: 605px;
    &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        background: #5cbb5d;
        top: 0;
        right: 0;
        left: -265px;
        bottom: 0;
    }
    .banner-slider {
        .banner-item {
            .banner-link {
                outline: none;
                display: inline-block;
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: auto;
                    max-height: 600px;
                    object-fit: cover;
                }
            }
        }
        .slick-dots {
            width: auto;
            display: inline-block;
            bottom: 25px;
            left: 10%;
            button {
                width: 15px;
                height: 15px;
                background: #5cbc5e;
                border-radius: 100%;
                &::before {
                    background: none;
                    color: #5cbc5e;
                }
            }
            .slick-active {
                button {
                    background: #006f30;
                    &::before {
                        background: none;
                        color: #006f30;
                    }
                }
            }
        }
        .btn-slider {
            position: absolute;
            z-index: 1;
            top: auto;
            bottom: 10%;
            width: 34px;
            height: 44px;
            margin-top: -22px;
            border: 1px solid #ddd;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            color: #fff;
            font-size: 31px;
            cursor: pointer;
            &:focus {
                outline: none;
            }
            &.btn-next {
                right: 10%;
            }
            &.btn-prev {
                left: auto;
                right: 10%;
                margin-right: 35px;
            }
        }
    }
}

.btn-sliders {
    position: absolute;
    border: none;
    background: none;
    font-size: 21px;
    z-index: 1;
    bottom: 40px;
    cursor: pointer;
    color: #888888;
    height: 35px;
    width: 25px;
    top: 40%;
    &.btn-next {
        right: 0;
    }
    &.btn-prev {
        left: 0;
    }
}

.partner {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    .partner-title {
        line-height: 1.4;
        margin: 10px 0;
        padding: 0;
        position: relative;
        font-size: 16px;
        strong {
            position: relative;
            display: inline-block;
            z-index: 1;
            background: #fff;
            padding: 0 15px;
            color: #006f30;
        }
        &:before {
            content: "";
            display: block;
            height: 2px;
            width: 100%;
            background: #006f30;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }
    .partner-slider {
        .partner-item {
            .partner-link {
                display: inline-block;
                width: 100%;
                &:focus {
                    outline: none;
                }
                img {
                    width: 100%;
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
        .btn-partner {
            position: absolute;
            border: none;
            background: none;
            font-size: 21px;
            z-index: 1;
            bottom: 40px;
            cursor: pointer;
            color: #888888;
            &:focus {
                outline: none;
            }
            &.partner-prev {
                left: -25px;
            }
            &.partner-next {
                right: -25px;
            }
        }
    }
}

.product-promotion {
    position: relative;
    &::before {
        content: "";
        display: block;
        background: #006f30;
        z-index: -1;
        position: absolute;
        left: calc(50% - 50vw);
        right: calc(50% - 50vw);
        top: 0;
        height: 42px;
        max-width: 100%;
    }
    .container {
        .promotion-content {
            .promotion-title {
                margin: 0;
                text-transform: uppercase;
                color: #006f30;
                line-height: 1.4;
                font-size: 30px;
                text-align: center;
                strong {
                    display: inline-block;
                    position: relative;
                    z-index: 1;
                    padding: 0 30px;
                    &::before {
                        content: "";
                        display: block;
                        width: 100%;
                        position: absolute;
                        z-index: -1;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        background: #fff;
                        transform: skewX(30deg);
                    }
                    span {
                        color: #ef231a;
                    }
                }
            }
            .prommotion-product {
                margin-top: 50px;
                margin-bottom: 50px;
            }
        }
    }
}

.marginrow10 {
    margin-left: -10px;
    margin-right: -10px;
}

.paddingcol10 {
    padding-left: 10px;
    padding-right: 10px;
}

.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 1900px) {
    .container {
        max-width: 1500px;
    }
}

.container {
    padding-left: 10px;
    padding-right: 10px;
}

.product-item1 {
    padding: 10px;
    border: 1px solid #eee;
    .product-link-img {
        display: inline-block;
        width: 100%;
        height: 210px;
        img {
            width: 100%;
            transform: scale(0.8);
            transition: all .3s ease-in-out;
            height: 100%;
            object-fit: contain;
        }
        &:hover {
            img {
                transform: scale(1);
            }
        }
    }
    .product-info {
        height: 130px;
        .product-link-name {
            line-height: 1.5;
            font-size: 14px;
            font-weight: bold;
            color: #000;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            height: 42px;
            margin: 10px 0;
            &:hover {
                color: #006e30;
                transition: .5s;
            }
        }
        .product-model {
            margin: 0 0 10px;
            font-size: 14px;
        }
        .product-price {
            color: #006e30;
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 0;
        }
        .product-price-sale {
            display: block;
            position: relative;
            margin-bottom: 0;
            text-decoration: line-through;
            color: #555;
            font-size: 13px;
            color: #999;
            width: 100%;
        }
    }
}

.product-top {
    .container {
        .product-top-content {
            .top-tab {
                .top-tap-list {
                    text-transform: uppercase;
                    font-size: 24px;
                    padding-top: 6px;
                    float: left;
                    display: flex;
                    padding-left: 0;
                    .top-tap-item {
                        padding: 0 30px;
                        position: relative;
                        cursor: pointer;
                        &::after {
                            content: "";
                            display: block;
                            background: #006f30;
                            width: 3px;
                            height: 24px;
                            position: absolute;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                        }
                        &.active {
                            color: #006f30;
                            font-weight: bold;
                        }
                        &:hover {
                            color: #006f30;
                            font-weight: bold;
                        }
                        &:first-child {
                            padding-left: 0;
                        }
                        &:last-child {
                            &::after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .top-product {
        display: inline-block;
        width: 100%;
        background: #f0f6e8;
        padding: 20px 15px 30px;
        .top-product-list {
            padding-right: 16.666%;
            .product-item1 {
                background: #fff;
                .product-link-name {
                    font-weight: normal;
                }
            }
        }
    }
}

.category-object {
    padding-bottom: 30px;
    .container {
        .category-bar {
            .category-title {
                position: relative;
                color: #006f30;
                padding: 10px 20px 10px 0;
                float: left;
                text-transform: uppercase;
                margin-bottom: 0;
                &:after {
                    right: 0;
                    bottom: 0;
                    left: calc(100% - 53vw);
                    transform: skewX(-30deg);
                    content: "";
                    display: block;
                    z-index: -1;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    background: -moz-linear-gradient(left, #00843e 0%, #5cbc5e 100%);
                    background: -webkit-gradient(left top, right top, color-stop(0%, #00843e), color-stop(100%, #5cbc5e));
                    background: -o-linear-gradient(left, #00843e 0%, #5cbc5e 100%);
                    background: -ms-linear-gradient(left, #00843e 0%, #5cbc5e 100%);
                    background: linear-gradient(to right, #00843e 0%, #5cbc5e 100%);
                }
                a {
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 1.4;
                    color: #fff;
                }
            }
            .category-tab {
                float: left;
                font-size: 20px;
                padding-top: 15px;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                .category-item {
                    padding: 0 20px;
                    position: relative;
                    cursor: pointer;
                    font-size: 20px;
                    &:hover {
                        color: #006f30;
                        font-weight: bold;
                        transition: .5s;
                    }
                    &::after {
                        content: "";
                        display: block;
                        background: #006f30;
                        width: 3px;
                        height: 24px;
                        position: absolute;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        width: 2px;
                        height: 20px;
                    }
                    &:last-child {
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .product-object {
        display: inline-block;
        width: 100%;
        padding-top: 5px;
        .container {
            .pro-object-content {
                .product-item1 {
                    .product-info {
                        text-align: center;
                        .product-price {
                            color: #ee371b;
                        }
                    }
                }
            }
        }
    }
    .advertisement {
        .container {
            .advertisement-slider {
                .advertisement-item {
                    a {
                        display: inline-block;
                        width: 100%;
                        img {
                            width: 100%;
                            height: auto;
                            max-height: 170px;
                        }
                    }
                }
            }
        }
    }
    &.category-case {
        padding-bottom: 0;
        .category-object {
            .container {
                .category-bar {
                    .category-title {}
                }
            }
        }
        .product-object {
            background: #f0f6e8;
            .product-item1 {
                background: #fff;
            }
        }
    }
}

.padding10 {
    padding: 10px 0;
}

.margin10 {
    margin: 10px 0;
    display: inline-block;
}

.tab-active {
    color: #006f30;
    font-weight: bold;
}

.btn-category {
    position: absolute;
    z-index: 2;
    opacity: 0.5;
    height: 36px;
    padding: 0;
    cursor: pointer;
    outline: none;
    color: #888888;
    font-size: 18px;
    overflow: hidden;
    top: -10px;
    margin-top: -40px;
    width: 36px;
    border: 2px solid #999;
    border-radius: 50%;
    right: 0;
    &.category-prev {
        left: auto;
        right: 54px;
        background-position: -81px;
    }
    &.category-next {
        right: 8px;
    }
}

footer {
    display: inline-flex;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f0f6e8;
    margin-top: 40px;
    position: relative;
    .container {
        .footer-content {
            .footer-logo {
                width: 170px;
                float: left;
                margin-right: 10px;
                a {
                    padding: 20px;
                    display: inline-block;
                    width: 100%;
                    img {
                        width: 100%;
                        height: auto;
                        max-height: 100px;
                    }
                }
            }
            .footer-category {
                width: calc(100% - 180px);
                float: left;
                padding-top: 10px;
                font-size: 14px;
                .store-list {
                    display: list-item;
                    text-align: -webkit-match-parent;
                    a {
                        display: inline-block;
                        padding: 5px 0 5px 15px;
                        position: relative;
                        font-weight: 600;
                        &:before {
                            content: "";
                            display: block;
                            width: 5px;
                            height: 5px;
                            background: #006f30;
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            margin: auto;
                        }
                    }
                }
                .footer-chungnhan {
                    display: inline-block;
                    width: 100%;
                    text-align: right;
                }
            }
        }
    }
    .footerfb {
        display: inline-block;
        width: 33%;
        position: absolute;
        right: 0;
        top: 0;
        .footer-fb {
            float: right;
            position: relative;
            z-index: 1;
            margin-top: -25px;
            height: 50px;
            line-height: 50px;
            padding-left: 30px;
            letter-spacing: 2px;
            width: 100%;
            &::before {
                content: "";
                display: block;
                width: 60px;
                height: 60px;
                background: url(../img/bgfb2.png)no-repeat center, #006f30;
                border-radius: 50%;
                border-bottom-right-radius: 0;
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 2;
            }
            .footer-fb-link {
                font-size: 32px;
                color: #fff;
                position: relative;
                display: block;
                padding-left: 60px;
                &::after {
                    content: "";
                    display: block;
                    z-index: -1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    bottom: 0;
                    right: calc(100% - 40px);
                    background: #00843e;
                    background: -moz-linear-gradient(left, #00843e 0%, #5cbc5e 100%);
                    background: -webkit-gradient(left top, right top, color-stop(0%, #00843e), color-stop(100%, #5cbc5e));
                    background: -o-linear-gradient(left, #00843e 0%, #5cbc5e 100%);
                    background: -ms-linear-gradient(left, #00843e 0%, #5cbc5e 100%);
                    background: linear-gradient(to right, #00843e 0%, #5cbc5e 100%);
                }
                strong {
                    font-weight: 700
                }
            }
        }
    }
}

.lineh17 {
    line-height: 1.7;
}

.coppy-right {
    display: inline-block;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 13px;
    position: relative;
    p {
        color: #fff;
    }
    &:after {
        content: "";
        display: block;
        z-index: -1;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: #0e2f1d;
        background-color: rgb(14, 47, 29);
    }
}

.scrollToTop {
    display: block;
    bottom: 150px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    z-index: 5000;
    background: url(../img/icon-top.png)no-repeat center, rgba(0, 0, 0, 0.2);
    cursor: pointer;
    &:hover {
        background-color: rgba(0, 0, 0, 0.75);
        transition: .5s;
    }
}

.alo-phone {
    bottom: 90px;
    left: 5px;
    position: fixed;
    visibility: hidden;
    visibility: visible;
    background-color: transparent;
    width: 80px;
    height: 80px;
    cursor: pointer;
    z-index: 2000!important;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: visibility .5s;
    -moz-transition: visibility .5s;
    -o-transition: visibility .5s;
    transition: visibility .5s;
    .alo-circle {
        border-color: #0edb06;
        width: 80px;
        height: 80px;
        top: 0;
        left: 0;
        position: absolute;
        background-color: transparent;
        border: 2px solid #0FA8E1;
        opacity: .5;
        -webkit-animation: alo-circle-anim 1.1s infinite ease-in-out;
        -moz-animation: alo-circle-anim 1.1s infinite ease-in-out;
        -ms-animation: alo-circle-anim 1.1s infinite ease-in-out;
        -o-animation: alo-circle-anim 1.1s infinite ease-in-out;
        animation: alo-circle-anim 1.1s infinite ease-in-out;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%
    }
    .alo-circle-fill {
        background-color: #0edb06;
        width: 70px;
        height: 70px;
        top: 5px;
        left: 5px;
        position: absolute;
        background-color: rgba(15, 168, 225, 0.5);
        border: 2px solid transparent;
        opacity: .75;
        -webkit-animation: alo-circle-fill-anim 1.7s infinite ease-in-out;
        -moz-animation: alo-circle-fill-anim 1.7s infinite ease-in-out;
        -ms-animation: alo-circle-fill-anim 1.7s infinite ease-in-out;
        -o-animation: alo-circle-fill-anim 1.7s infinite ease-in-out;
        animation: alo-circle-fill-anim 1.7s infinite ease-in-out;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    .alo-img-circle {
        background: url(../img/bg-call6.png)no-repeat center #0edb06;
        opacity: 1;
        background-size: 60%;
        display: block;
        width: 50px;
        height: 50px;
        top: 15px;
        left: 15px;
        z-index: 1;
        position: absolute;
        border: 2px solid transparent;
        opacity: .85;
        -webkit-animation: alo-circle-img-anim 1s infinite ease-in-out;
        -moz-animation: alo-circle-img-anim 1s infinite ease-in-out;
        -ms-animation: alo-circle-img-anim 1s infinite ease-in-out;
        -o-animation: alo-circle-img-anim 1s infinite ease-in-out;
        animation: alo-circle-img-anim 1s infinite ease-in-out;
        border-radius: 100%;
    }
    .alo-block {
        font-size: 18px;
        white-space: nowrap;
        left: 50px;
        top: 23px;
        position: absolute;
        background: #0edb06;
        padding: 4px 15px;
        color: #fff;
        font-weight: bold;
        border-radius: 0 20px 20px 0;
    }
    &:hover {
        .alo-circle {
            border-color: #ff0000;
        }
        .alo-circle-fill {
            background-color: rgba(255, 0, 0, 0.5);
            opacity: .75;
        }
        .alo-img-circle {
            background-color: #ff0000;
        }
        .alo-block {
            background-color: #ff0000;
            color: #fff;
        }
    }
}