@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto-Bold.ttf); }
@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto-Medium.ttf); }
@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.ttf); }
@font-face {
  font-family: "Roboto-Italic";
  src: url(../fonts/Roboto-Italic.ttf); }
body {
  font-family: "Roboto-Regular"; }

ul,
li a {
  list-style: none;
  text-decoration: none;
  color: #000;
  font-family: "Roboto-Regular";
  margin: 0; }
  ul:hover,
  li a:hover {
    text-decoration: none; }

.menu-start {
  background-color: #006f30; }
  .menu-start .container .menu-list .menu-parent {
    display: flex;
    padding: 0; }
    .menu-start .container .menu-list .menu-parent .parent-item {
      position: relative; }
      .menu-start .container .menu-list .menu-parent .parent-item .menu-link {
        display: inline-block;
        padding: 8px 15px;
        white-space: nowrap;
        color: #fff;
        font-size: 13px; }
      .menu-start .container .menu-list .menu-parent .parent-item .menu-child {
        width: 220px;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        background: #006f30;
        padding: 0;
        display: none; }
        .menu-start .container .menu-list .menu-parent .parent-item .menu-child .child-item {
          border-bottom: 1px solid #008d3d;
          width: 100%; }
          .menu-start .container .menu-list .menu-parent .parent-item .menu-child .child-item .menu-link {
            padding: 5px 15px; }
      .menu-start .container .menu-list .menu-parent .parent-item:hover .menu-child {
        display: block; }

.main-closes {
  display: none; }

header .container .header-content {
  padding: 25px 0; }
  header .container .header-content .header-logo .logo-link {
    display: inline-block;
    width: 100%; }
    header .container .header-content .header-logo .logo-link img {
      width: 100%;
      height: 100px;
      object-fit: contain; }
  header .container .header-content .header-search {
    display: inline-block;
    width: 100%;
    padding: 30px 0; }
    header .container .header-content .header-search .btn-menu {
      display: none;
      position: absolute;
      left: 0;
      top: 10px;
      border-radius: 4px;
      overflow: hidden;
      background: #d9eac0;
      color: #006f30;
      line-height: 40px;
      width: 40px;
      text-align: center; }
      header .container .header-content .header-search .btn-menu i {
        font-style: normal;
        font-size: 26px;
        display: block; }
    header .container .header-content .header-search form {
      float: right;
      height: 44px;
      width: 100%;
      max-width: 400px;
      padding-right: 60px;
      position: relative;
      overflow: hidden;
      border: 1px solid #ddd;
      border-radius: 5px; }
    header .container .header-content .header-search .header-input {
      border: none;
      outline: none;
      padding: 0 15px;
      height: 100%;
      width: 100%;
      font-size: 14px;
      font-family: inherit; }
    header .container .header-content .header-search .header-btn-search {
      top: 0;
      right: 0;
      border: none;
      outline: none;
      padding: 0 15px;
      height: 42px;
      font-size: 14px;
      font-family: inherit;
      width: 60px;
      position: absolute;
      cursor: pointer;
      background: url(../img/search.png) no-repeat center, #006e30; }
      header .container .header-content .header-search .header-btn-search:hover {
        background-color: #003e1b;
        transition: 0.5s; }
  header .container .header-content .header-linked {
    display: flex;
    padding: 30px 0;
    justify-content: flex-end; }
    header .container .header-content .header-linked a {
      padding: 0 5px;
      display: inline-block; }
      header .container .header-content .header-linked a.link-shop {
        width: 54px; }
      header .container .header-content .header-linked a img {
        width: 100%;
        height: 100%;
        object-fit: contain; }
    header .container .header-content .header-linked .cart {
      float: right;
      position: relative;
      padding-left: 50px;
      margin: 0 0 0 5px;
      height: 44px;
      line-height: 44px;
      color: #006f30;
      font-weight: bold; }
      header .container .header-content .header-linked .cart::before {
        content: "";
        display: block;
        height: 44px;
        width: 44px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background: url(../img/cart.png) no-repeat center #d9eac0;
        border-radius: 50%;
        overflow: hidden; }
      header .container .header-content .header-linked .cart .total {
        color: #f00;
        position: absolute;
        left: 17px;
        top: 16px;
        z-index: 1;
        line-height: 20px;
        font-size: 16px;
        font-weight: normal; }
      header .container .header-content .header-linked .cart strong {
        font-family: "Roboto-Regular";
        text-transform: uppercase;
        font-size: 14px; }

.header-menu-banner {
  background: #006f30;
  color: #fff;
  position: relative;
  display: inline-block;
  width: 100%; }
  .header-menu-banner .menu-category {
    width: 260px;
    float: left;
    position: relative; }
    .header-menu-banner .menu-category .btn-open-category {
      padding: 10px 10px 10px 20px;
      display: block;
      margin-bottom: 0;
      width: 100%;
      line-height: 26px;
      position: relative;
      cursor: pointer; }
      .header-menu-banner .menu-category .btn-open-category i {
        font-style: normal;
        font-size: 22px;
        display: block;
        float: left;
        margin-right: 10px; }
      .header-menu-banner .menu-category .btn-open-category span {
        display: block;
        white-space: nowrap;
        float: left; }
    .header-menu-banner .menu-category .menu-category-parent {
      display: block;
      background: #5cbb5d;
      width: 100%;
      padding: 15px 0;
      z-index: 999;
      position: absolute;
      top: 100%;
      left: 0; }
      .header-menu-banner .menu-category .menu-category-parent .category-parent-item {
        padding: 9px 15px; }
        .header-menu-banner .menu-category .menu-category-parent .category-parent-item .category-link {
          display: inline-block;
          position: relative;
          padding-left: 40px;
          padding-right: 20px;
          width: 100%;
          line-height: 24px;
          text-transform: uppercase;
          color: #fff;
          background: url(../img/bg-sub3.png) no-repeat right center; }
          .header-menu-banner .menu-category .menu-category-parent .category-parent-item .category-link .category-img {
            display: block;
            float: left;
            position: relative;
            width: 32px;
            height: 24px;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto; }
            .header-menu-banner .menu-category .menu-category-parent .category-parent-item .category-link .category-img img {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              margin: auto;
              max-width: 100%;
              max-height: 100%; }
          .header-menu-banner .menu-category .menu-category-parent .category-parent-item .category-link .category-name {
            font-family: 'Roboto-Regular';
            font-size: 14px; }
  .header-menu-banner .list-policy .menu-policy {
    float: left;
    line-height: 26px;
    color: #ecf14c;
    font-size: 14px; }
    .header-menu-banner .list-policy .menu-policy .policy-item {
      float: left;
      padding: 10px;
      display: block;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: -moz-box;
      -js-display: flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -ms-flex-align: center;
      align-items: center; }
      .header-menu-banner .list-policy .menu-policy .policy-item span {
        display: block;
        width: 24px;
        height: 26px;
        position: relative;
        margin-right: 10px; }
        .header-menu-banner .list-policy .menu-policy .policy-item span .policy-img {
          display: block;
          max-width: 100%;
          max-height: 100%;
          width: auto !important;
          object-fit: cover; }
      .header-menu-banner .list-policy .menu-policy .policy-item strong {
        font-weight: normal; }
  .header-menu-banner .category-contact .menu-contact {
    line-height: 18px;
    float: right;
    background: #d9eac0;
    color: #006f30;
    padding: 5px 15px;
    border-left: 5px solid #fff;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    font-size: 14px; }
    .header-menu-banner .category-contact .menu-contact .contact-item {
      margin-right: 20px;
      padding-left: 30px;
      float: left;
      padding-left: 50px;
      position: relative;
      display: block; }
      .header-menu-banner .category-contact .menu-contact .contact-item::before {
        content: "";
        display: block;
        height: 34px;
        width: 43px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background: url(../img/bghd.png) no-repeat right center; }
      .header-menu-banner .category-contact .menu-contact .contact-item span {
        display: block; }
      .header-menu-banner .category-contact .menu-contact .contact-item a {
        color: #006f30;
        font-weight: bold; }

/*# sourceMappingURL=main.css.map */
