@media (max-width: 1366px) {
  header .container .header-content .header-linked .cart strong {
    display: none; } }
@media (max-width: 768px) {
  header .container .header-content .header-linked {
    position: fixed;
    display: block;
    bottom: 2%;
    left: 2%; }

  header .container .header-content .header-linked a {
    display: block;
    margin: 5px 0; }

  .menu-start .container .menu-list .menu-parent {
    padding: 10px 15px;
    display: block;
    width: 250px;
    position: absolute;
    top: 0;
    z-index: 12221121212;
    background: #006f30;
    left: -250px;
    opacity: 0;
    cursor: none;
    pointer-events: none; }
    .menu-start .container .menu-list .menu-parent.active {
      left: -250px;
      opacity: 1;
      cursor: pointer;
      pointer-events: all;
      left: 0;
      transition: 0.5s; }

  .menu-start .container .menu-list .menu-parent .parent-item {
    border-bottom: 1px dashed #00843e; }

  .main-closes {
    display: block;
    position: absolute !important;
    top: 0;
    left: 100%;
    z-index: 9; }

  .main-closes span {
    display: block;
    font-size: 36px;
    line-height: 36px;
    color: #fff;
    background: #00843e;
    padding: 0 10px;
    cursor: pointer; }

  .menu-start .container .menu-list .menu-parent .parent-item .menu-link::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    position: absolute;
    left: 0;
    top: 16px;
    background: #fff; }

  header .container .header-content .header-search .btn-menu {
    display: block;
    cursor: pointer; }

  header .container .header-content .header-search {
    padding: 10px 0; } }
@media (max-width: 480px) {
  header .container .header-content .header-search {
    padding: 10px 0 10px 45px; } }

/*# sourceMappingURL=media.css.map */
